{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'LINKS' }}</a>
<nav id="primary-nav" class="site-nav animated drop">
  <ul>
    {% for link in site.data.navigation %}
      <li class="nav-item {% if link.subitems %}has-dropdown{% endif %}">
        
       <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
        <!-- <button class="nav-toggle" aria-expanded="false" aria-controls="submenu-docs"> </button>
        <a href="{{ link.url }}"{% if link.subitems %} aria-haspopup="true" aria-expanded="false"{% endif %}>
       {{ link.title }} </a> -->
        
        {% if link.subitems %}
        <ul class="dropdown-menu" id="submenu-docs" hidden>
            {% for sublink in link.subitems %}
              <li><a href="{{ sublink.url | relative_url }}">{{ sublink.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>


    
  </div><!-- /.navigation-wrapper -->
{% endif %}
