{% if page.header == false %}
  {% assign page_image = nil %}
  {% assign page-image-caption = nil %}
{% elseif %}

{% if page.externalimage == true %}
   <img src="{{ page.image }}" alt="{{ page.title }}">

<!--
{% if page.external_image %}
  <img src="{{ page.image }}" alt="{{ page.title }}">
{% else %}
  <img src="{{ page.image | asset_path }}" alt="{{ page.title }}">
{% endif %}
-->
{% else %}
{% if page.image %}
  {% assign page_image = page.image.path | default: page.image %}
  {% unless page_image contains 'https://' %}
   <!-- <img src="{{ page.image }}" alt="{{ page.title }}"> --> 
   {% assign page_image = page_image | relative_url %} 
  {% endunless %}
  {% assign page_image = page_image | escape %}
{% endif %}

<div class="page-image">
    <img src="{{ page_image }}" class="entry-feature-image u-photo" alt="{{ page.title }}" {% unless site.logo %}style="margin-top: 0;"{% endunless %}>
    {% if page.image.caption %}
      <div class="page-image-caption">{{ page.image.caption | markdownify }}</div>
    {% endif %}
  </div>
{% endif %}
