{% if page.header == false %}
  {% assign page_image = nil %}
  {% assign page-image-caption = nil %}
{% else %}

{% if page.image %}
  {% assign page_image = page.image.path | default: page.image %}
  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign page_image = page_image | escape %}
{% endif %}

 {% if page.image_url %}
    {% assign page_image = page.image_url | relative_url %}
  {% endif %}


  {% if page.thumbnail_url %}
    {% assign page.image.thumbnail = page.thumbnail_url | relative_url %}
<div class="page-thumbnail"><img scr="{{ page.image.thumbnail }}" class="entry-feature-image u-photo" alt="{{ page.title }}">
</div>
{% endif %}

  <div class="page-image">
    <img src="{{ page_image }}" class="entry-feature-image u-photo" alt="{{ page.title }}" {% unless site.logo %}style="margin-top: 0;"{% endunless %}>
    {% if page.image.caption %}
      <div class="page-image-caption">{{ page.image.caption | markdownify }}</div>
    {% endif %}
  </div>
{% endif %}
